<%- include("../partials/header") %>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Stabeless.AI</h3>
            </div>
            <class class="card-body">
                <form action="/admin/authenticate" method="POST">
                    <input class="form-control" name="txt_email" type="email" placeholder="Digite o e-mail do usuário">
                    <br>
                    <input class="form-control" name="txt_password" type="password" placeholder="Digite a senha do usuário">
                    <br>
                    <button type="submit" class="btn btn-success btn-block">Logar</button>
                </form>
            </class>
        </div>
    </div>
<%- include("../partials/header") %>